/firmware/akustik_doc
/firmware/akustik.creator.user
/firmware/build
/firmware/.dep
/firmware/.clangd
/esp8266/esp8266dev.creator.user
/esp8266/build
/esp8266/.dep
/firmware/compile_commands.json
*__pycache__
*-checkpoint.ipynb
